body{
	background-image: url("../images/background.jpg");
}
h3{
	color: black;
	font-size: 30px;
}
footer{
	background-color: #666;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: solid 2px;
	border-color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

/*Classes to change image backgrounds*/
.defaultColor{
	padding: 25px 10px 25px 10px;
	background-color: white;
	border: solid 2px;
	border-color: green;
}
.enemyColor{
	padding: 25px 10px 25px 10px;
	background-color: red;
	border: solid 2px;
	border-color: black;
}
.defenderColor{
	padding: 25px 10px 25px 10px;
	background-color: black;
	border: solid 2px;
	border-color: green;
}