body{
	width: 100%;
 	max-width: 3840px; /* YOUR BG MAX SIZE */
  	background:url("../images/background.jpg") no-repeat;
  	background-size: 100%;
  	background-color: #375A7F;
}
/*Fixing the background image*/

h3{
	color: black;
	font-size: 30px;
}
footer{
	background-color: #666;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: solid 2px;
	border-color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}

/*Classes to change image backgrounds*/
.defaultColor{
	padding: 90px 20px 90px 20px;
	background-color: white;
	border: solid 2px;
	border-color: green;
}
.enemyColor{
	padding: 90px 20px 90px 20px;
	background-color: red;
	border: solid 2px;
	border-color: black;
}
.defenderColor{
	padding: 90px 20px 90px 20px;
	background-color: black;
	border: solid 2px;
	border-color: green;
}

/*Displays the image divs in a line*/
.displayInline{
	display: inline;
}

/*Pesky little grid was being dum. hopefully a temporary fix.*/
#charSelect{
	margin-top: 40px;
}
#yourChar{
	margin-top: 40px;
}

/*Below this is all media Qs*/
@media (max-width: 640px) {
	body{
	width: 600;
 	max-width: 3840px; /* YOUR BG MAX SIZE */
  	background:url("../images/background.jpg") no-repeat;
  	background-size: 600%;
  	background-color: #375A7F;
	}
	
}
