body{
	background-image: url("../images/background.jpg");
}
h3{
	color: black;
	font-size: 30px;
}
footer{
	background-color: #666;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: solid 2px;
	border-color: white;
	padding-top: 20px;
	padding-bottom: 10px;
}